{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box ptb--100">
    <form>
        <div class="login-form-head">
            <h4>Profil</h4>
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
        <div class="login-form-body">
            <div class="form-gp">

            </div>
            <div class="submit-btn-area">
            </div>
            <div class="form-footer text-center mt-5">
                <a href="{{ path('balancelle_homepage') }}"> Retourner vers l'intranet </a>
            </div>
        </div>
    </form>
</div>