{% extends '@Balancelle/User/user_layout.html.twig' %}

{% block body %}
    {{ parent() }}
        <h2>Liste des enfants</h2>
        <table id="listeEnfant" class="row-border stripe">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de Naissance</th>
                    <th>Commentaire</th>
                    <th>Actif</th>
                    <th>Editer</th>
                </tr>
            </thead>
            <tbody>
            {% for enfant in enfants %}
                <tr>
                    <td>{{ enfant.prenom }}</td>
                    <td>{{ enfant.nom }}</td>
                    <td>{{ enfant.naissance|date('d/m/Y') }}</td>
                    <td>{{ enfant.commentaire }}</td>
                    <td>
                        {% if enfant.active %}
                            <img src="{{asset('bundles/balancelle/images/on.png')}}" alt="actif" />
                        {%  else %}
                            <img src="{{asset('bundles/balancelle/images/off.png')}}" alt="inactif" />
                        {% endif %}
                    </td>
                    <td><a href="{{ path('enfant_edit', { 'id': enfant.id }) }}">éditer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
