{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
    {% set action = app.request.attributes.get("_route") %}
    {{ parent() }}
    <div class="main-content-inner">
        <div class="col-xl-12 col-lg-12 col-md-12 col-ml-12">
            <div class="card" style="background-color: #bbbbbb">
                <div class="card-body" >
                    <h4 class="header-title">Information sur la famille</h4>
                    {{ form_start(form) }}
                    <div class="form-row align-items-center" >
                        <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-12 my-1">
                            <label for="nom">Nom</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control',
                                'placeholder': "nom"}}) }}
                        </div>
                        <div class="form-group col-xl-1 col-lg-1 col-md-2 col-sm-1 my-1">
                            <label for="familleActive">Active</label>
                            {{ form_widget(form.active, {'attr': {'class': 'form-control',
                                'placeholder': "actif"}}) }}<label></label>
                        </div>
                        <div class="form-group col-xl-2 col-lg-2 col-md-6 col-sm-12 my-1">
                            <label for="parent2">Nombre de permanences</label>
                            <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 my-1">
                            {{ form_widget(form.nombrePermanence, {'attr': {'class': 'form-control',
                                'placeholder': "parent 2"}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row align-items-center" >
                        <div class="form-group col-xl-2 col-lg-2 col-md-6 col-sm-12 my-1">
                            <label for="parent1">Parent 1</label>
                            {{ form_widget(form.parent1, {'attr': {'class': 'form-control',
                                'placeholder': "parent 1"}}) }}
                        </div>
                        {% if familleAdmin.parent1 %}
                            <div class="form-group col-xl-1 col-lg-1 col-md-1 col-sm-1 pt-5">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-envelope"></i> Ecrire
                                </button>
                            </div>
                        {% endif %}
                        <div class="form-group col-xl-2 col-lg-2 col-md-6 col-sm-12 my-1">
                            <label for="parent2">Parent 2</label>
                            {{ form_widget(form.parent2, {'attr': {'class': 'form-control',
                                'placeholder': "parent 2"}}) }}
                        </div>
                        {% if form.parent2.vars.errors|length %}
                            <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-12 pl-3">
                                <div class="alert-items pt-5">
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(form.parent2) }}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if familleAdmin.parent2 and form.parent2.vars.errors is empty %}
                            <div class="form-group col-xl-1 col-lg-1 col-md-1 col-sm-1 pt-5">
                                <button type="button" class="btn btn-primary">
                                    <i class="fa fa-envelope"></i> Ecrire
                                </button>
                            </div>
                        {% endif %}

                    </div>
                    <div class="form-row align-items-center ml-3">
                        <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                            {{ form_widget(form) }}
                            {% if 'new' in action %}
                                <input type="submit" value="créer" class="btn btn-rounded btn-success mb-3"/>
                            {% endif %}
                            {% if 'edit' in action %}
                                <input type="submit" value="enregister" class="btn btn-rounded btn-success mb-3"/>
                            {% endif %}
                            {{ form_end(form) }}
                        </div>
                        {% if delete_form is defined %}
                            <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                                {{ form_start(delete_form) }}
                                <input type="submit" value="supprimer" class="btn btn-rounded btn-danger mb-3"/>
                                {{ form_end(delete_form) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div></br>
            <div class="card" style="background-color: #bbbbbb">
                <div class="card-body" >
                    <h4 class="header-title">Liste des enfants de la famille</h4>
                    <div class="form-row align-items-center ml-4">
                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-6 my-1">

                            <table id="dataTable" name="dataTable" class="text-center">
                                <thead class="bg-light text-capitalize">
                                <tr>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Date de naissance</th>
                                    <th>Structure</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for enfant in enfants%}
                                    <tr>
                                        <td>{{ enfant.nom }}</td>
                                        <td>{{ enfant.prenom }}</td>
                                        <td>{{ enfant.naissance|date('d/m/Y') }}</td>
                                        <td>{{ enfant.structure }}</td>
                                        <td>
                                            <a href="{{ path('enfant_edit', { 'id': enfant.id }) }}">Voir</a>
                                            <a href="{{ path('famille_supprimerEnfant', { 'idEnfant': enfant.id, 'idFamille': familleAdmin.id}) }}">Supprimer</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button
                                    type="button"
                                    class="btn btn-primary"
                                    id="btnAjouterEnfant">
                                <i class="fa fa-child"></i> Ajouter
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "@Balancelle/famille/modal_enfant.html.twig" %}
    <input type="hidden" id="idFamille" value="{{ familleAdmin.id }}">

{% endblock %}