{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
    {{ parent() }}

    <div class="main-content-inner">
        <div class="row">
            <div class="col-10 mt-5">
                <div class="alert alert-primary" role="alert">
                    <h4 class="alert-heading">COVID19</h4>
                    <p>Les mesures prises suite au déconfinement ne nous permettent pas aujourd’hui de reprendre une activité normale Vous êtes nombreux à ne pas pouvoir bénéficier d’une place dans l’une de nos structures. En attendant que les règles évoluent, nous avons mis en place une solution permettant aux familles qui le souhaitent de rentrer en contact entre elles pour organiser des temps de rencontres pour les enfants.</p>
                    <p>Pour des raisons de confidentialité, la première prise de contact avec une famille se fait par l’intermédiaire d’un formulaire (les adresses emails de chacun ne sont pas visibles sur le site). </p>
                    <p>Cliquez sur le nom de la famille avec laquelle vous souhaitez rentrer en contact,  un bouton « Envoyer un email à la famille » apparaîtra. En cliquant dessus vous serez dirigez vers un formulaire vous permettant d’écrire un email à cette famille. L’adresse d’expédition utilisée sera votre adresse personnelle.</p>
                    <hr>
                    <p class="mb-0">Attention, La Balancelle décline toute responsabilité quant aux rencontres et échanges que vous pourriez avoir dans ce cadre à titre privé. Nous vous invitons à vous organiser et à établir des règles claires entre vous pour des rencontres en toute sécurité.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Liste des familles</h4>
                        <div class="data-tables">
                            <table id="dataTable" name="dataTable" class="text-center">
                                <thead class="bg-light text-capitalize">
                                <tr>
                                    <th>Nom de la famille</th>
                                    <th>Prénom de(s) (l')enfant(s)</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.famille.nom }}</td>
                                        <td>
                                            {% for enfant in user.famille.enfants %}
                                                {{ enfant.prenom }} - ({{ enfant.structure.nom }}) </br>
                                            {% endfor %}
                                        </td>
                                        <td>
                                            <a href="{{ path('famille_envoi_mail_covid', {'id': user.famille.id }) }}" class="btn btn-flat btn-primary mb-3"><i class="fa fa-envelope"></i> Envoyer un mail à la famille</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
