{% extends 'base.html.twig' %}

{% block body %}
    <h1>Famille</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ famille.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ famille.nom }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{% if famille.dateCreation %}{{ famille.dateCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if famille.dateModification %}{{ famille.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if famille.active %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('famille_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('famille_edit', { 'id': famille.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
