{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box ptb--100">
    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="login-form-head">
        <h4>Changement de mot de passe</h4>
        <p>Entrez votre mot de passe actuel</p>
        <p><b>Puis votre nouveau mot de passe (2 fois)</b></p>
    </div>
    <div class="login-form-body">
        <div class="form-gp">
            <label for="current_password">Mot de passe actuel</label>
            {{ form_widget(form.current_password) }}
            <i class="ti-lock"></i>
        </div>
        <div class="form-gp">
            {{ form_errors(form.current_password) }}
        </div>
        <div class="form-gp">
            <label for="plainPassword.first">Nouveau mot de passe</label>
            {{ form_widget(form.plainPassword.first) }}
            <i class="ti-lock"></i>
        </div>
        <div class="form-gp">
            <label for="plainPassword.second">répétez le mot de passe</label>
            {{ form_widget(form.plainPassword.second) }}
            <i class="ti-lock"></i>
        </div>
        {{ form_rest(form) }}
        <div class="submit-btn-area">
            <button id="form_submit" type="submit">Envoyer <i class="ti-arrow-right"></i></button>
        </div>
        <div class="form-footer text-center mt-5">
            <!--p class="text-muted">Don't have an account? <a href="register.html">Sign up</a></p-->

        </div>
    </div>
    </form>
</div>
{{ form_end(form) }}