{% extends '@Balancelle/Default/layout.html.twig' %}
{% block body %}
    {{ parent() }}


    <div class="main-content-inner">
        <!-- pie chart start -->
        <div class="row">
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div id="ampiechart1"></div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div id="ampiechart2"></div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div id="ampiechart3"></div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div id="highpiechart4"></div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div id="highpiechart5"></div>
                </div>
            </div>
            <div class="col-lg-6 mt-5">
                <div class="card">
                    <div id="highpiechart6"></div>
                </div>
            </div>
        </div>
        <!-- pie chart end -->
    </div>
    Permanences libres: {{ toutesLesPermanencesArealiserLibre|length }}
    Permanences prises: {{ toutesLesPermanencesArealiser|length - toutesLesPermanencesArealiserLibre|length }}

    {{ dump(familles) }}
    {{ dump(toutesLesPermanencesArealiser) }}
    {{ dump(toutesLesPermanencesArealiserLibre) }}
{% endblock %}