{% extends '@Balancelle/Admin/revuepresse_head.html.twig' %}
{% block action %}
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <table class="table">
            <th>Titre</th>
            <th>Date</th>
            <th>Actif</th>
        {% for revuepresse in liste %}
            <tr>
                <td><a href="{{ path(
                    'balancelle_admin_revuepresse_modify',
                    {idrevuepresse:revuepresse.id}
                ) }}" >
                    {{ revuepresse.titre }}
                </a></td>
                <td>{{ revuepresse.date|date('d/m/Y') }}</td>
                <td>
                    {% if revuepresse.active %}
                        <img src="{{ asset('bundles/balancelle/images/on.png') }}" />
                    {% else %}
                        <img src="{{ asset('bundles/balancelle/images/off.png') }}" />
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center ">
        <div class="div-square">
            <a href="{{ path('balancelle_admin_revuepresse_add') }}" >
                <i class="fa fa-calendar-plus-o fa-5x"></i>
                <h4>Nouvelle revue de presse</h4>
            </a>
        </div>
    </div>
{% endblock %}
          


    




          


    

