{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Permanence</h1>
        <div class="row">
            <div class="col-md-3">
                <ul>
                    <li>
                        <a href="{{ path('permanence_index') }}">Back to the list</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Edit" />
                {{ form_end(edit_form) }}

            </div>
            <div class="col-md-1">
                1



                {{ dump(famille) }}


            </div>
        </div>
    </div>
</div>



{% endblock %}
