{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h2>Inscription à une permanence</h2>
    <div class="main-content-inner">
        <div class="col-xl-12 col-lg-12 col-md-12 col-ml-12">
            <div class="card" style="background-color: #bbbbbb">
                <div class="card-body" >
                    {{ form_start(inscription_form) }}
                    <div class="form-row align-items-center" >
                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 my-1">
                            <label for="nom">Permanence:</label>
                            {{ form_widget(
                                inscription_form.titre,
                                {'attr': {'class': 'form-control','placeholder': "permanence"}}
                            ) }}
                        </div>
                        <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-12 my-1">
                            <label for="nom">Date de début</label>
                            {{ form_widget(
                                inscription_form.debut,
                                {'attr': {'placeholder': "date de début"}}
                            ) }}
                        </div>
                        <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-12 my-1">
                            <label for="nom">Date de fin</label>
                            {{ form_widget(
                                inscription_form.fin,
                                {'attr': {'placeholder': "date de fin"}}
                            ) }}
                        </div>
                        <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-12 mt-5">
                            <button type="submit" class="btn btn-success pull-left" >
                                <span class="glyphicon glyphicon-ok-sign"></span> S'inscrire
                            </button>
                        </div>
                    </div>
                    <div class="form-row align-items-center" >
                        <div class="form-group col-xl-12 col-lg-12 col-md-12 col-sm-12 my-1">
                            <label for="familleActive">Commentaire</label>
                            {{ form_widget(
                                inscription_form.commentaire,
                                {'attr': {'class': 'form-control','placeholder': "Commentaire"}}) }}
                        </div>
                        {{ form_end(inscription_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
