<!-- banner -->
<!--div data-vide-bg="video/nursery"-->
<div data-vide-bg="{{ asset('bundles/app/video/nursery') }}">
    
    <div class="center-container">
        <div class="container">
            <div class="w3_agile_banner_info">
                <p class="w3_agileits_banner_para">
                    <span>La Balancelle Presente</span>
                </p>
                <div class="agileits_w3layouts_header">
                    <h2 class="test2">3 structures <i>pour 1 balancelle</i></h2>
                </div>
                <p class="w3_elit_para">
                    Un Multi-Accueil, un Jardin d’Enfants Educatif et une Crèche Familiale
                </p>
                <div class="agile_more">
                    <a 
                        href="#" 
                        class="btn btn-3 btn-3e icon-arrow-right" 
                        data-toggle="modal" 
                        data-target="#myModal">En savoir plus
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bootstrap-pop-up -->
<div
    class="modal video-modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Nursery
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>						
            </div>
            <section>
                <div class="modal-body">
                    <div class="w3_modal_body_left">
                        <img
                            src="{{ asset('bundles/app/images/1.jpg') }}"
                            alt=" "
                            class="img-responsive" />
                    </div>
                    <div class="w3_modal_body_right">
                        <h4>Suspendisse et sapien ac diam suscipit posuere</h4>
                        <p>Ut enim ad minima veniam, quis nostrum 
                        exercitationem ullam corporis suscipit laboriosam, 
                        nisi ut aliquid ex ea commodi consequatur? Quis autem 
                        vel eum iure reprehenderit qui in ea voluptate velit 
                        esse quam nihil molestiae consequatur.
                        <i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit 
                                esse quam nihil molestiae consequatur.</i>
                                Fusce in ex eget ligula tempor placerat. Aliquam laoreet mi id felis commodo 
                                interdum. Integer sollicitudin risus sed risus rutrum 
                                elementum ac ac purus.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //bootstrap-pop-up -->
<!-- banner-bottom -->
<div id="about" class="banner-bottom">
    <div class="container">
        <h3>La
            <span class="w3_child">b</span>
            <span class="w3_child1">a</span>
            <span class="w3_child2">l</span>
            <span class="w3_child3">a</span>
            <span class="w3_child4">n</span>
            <span class="w3_child3">c</span>
            <span class="w3_child2">e</span>
            <span class="w3_child1">l</span>
            <span class="w3_child">l</span>
            <span class="w3_child4">e</span>
            est une crèche parentale pouvant accueillir 45 enfants par jour dans 3 structures différentes :
        </h3>
        <p class="w3_agile_elit">Un Multi-Accueil, un Jardin d’Enfants Educatif et une Crèche Familiale.</p>
        <div class="agile_banner_bottom_grids">
            <div class="col-md-3 agile_banner_bottom_grid">
                <div class="view view-first">
                    <img
                        src="{{ asset('bundles/app/images/2.jpg') }}"
                        alt=" "
                        class="img-responsive" />
                    <div class="mask">
                        <h5>M-A</h5>
                        <p>Lieu d’accueil pour les enfants de 10 semaines à 4 ans</p>
                    </div>
                </div>
                <div class="agile_banner_bottom_grid_pos">
                    <h4>Multi-Accueil</h4>
                </div>
            </div>
            <div class="col-md-3 agile_banner_bottom_grid">
                <div class="view view-first">
                    <img 
                        src="{{ asset('bundles/app/images/3.jpg') }}"
                        alt=" "
                        class="img-responsive" />
                    <div class="mask">
                        <h5 class="agileits_w3layouts1">JEE</h5>
                        <p>L’accueil est personnalisé et respecte le rythme de développement de chaque enfant</p>
                    </div>
                </div>
                <div class="agile_banner_bottom_grid_pos">
                    <h4 class="agileits_w3layouts1">Jardin d'Enfants</h4>
                </div>
            </div>
            <!--div class="col-md-3 agile_banner_bottom_grid">
                <div class="view view-first">
                    <img
                        src="{{ asset('bundles/app/images/4.jpg') }}"
                        alt=" "
                        class="img-responsive" />
                    <div class="mask">
                        <h5 class="agileits_w3layouts2">Nursery</h5>
                        <p>Integer ac condimentum ligula. Ut malesuada in purus 
                            convallis venenatis.</p>
                    </div>
                </div>
                <div class="agile_banner_bottom_grid_pos">
                    <h4 class="agileits_w3layouts2">Playing</h4>
                </div>
            </div-->
            <div class="col-md-3 agile_banner_bottom_grid">
                <div class="view view-first">
                    <img 
                        src="{{ asset('bundles/app/images/5.jpg') }}"
                        alt=" "
                        class="img-responsive" />
                    <div class="mask">
                        <h5 class="agileits_w3layouts3">C-F</h5>
                        <p>Un accueil familial en lien avec la collectivité pour les enfants de 6 semaines à 6 ans</p>
                    </div>
                </div>
                <div class="agile_banner_bottom_grid_pos">
                    <h4 class="agileits_w3layouts3">Crèche Familiale</h4>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->