<!-- team -->
<div id="team" class="team">
    <div class="container">
        <h3 class="w3_agileits_head">Notre
            <span class="w3_child">E</span>
            <span class="w3_child1">q</span>
            <span class="w3_child2">u</span>
            <span class="w3_child4">i</span>
            <span class="w3_child3">p</span>
            <span class="w3_child5">e</span>
        </h3>
        <p class="w3_agile_elit">Quisque dictum elit in nunc malesuada lacinia. 
            Cras id porttitor turpis.</p>
        <div class="agile_banner_bottom_grids">
            <div class="w3_slider">
                <ul class="slides">
                    <li class="slide">
                        <div class="col-md-3 wthree_team_grid">
                            <img 
                                src="{{ asset('bundles/app/images/7.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Olivia Wilde</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble"
                                                aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="agileits_facebook">
                                            <i class="fa fa-facebook" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3l_google">
                                            <i class="fa fa-google-plus" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img
                                src="{{ asset('bundles/app/images/9.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Brett Cullen</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="agileits_facebook">
                                            <i class="fa fa-facebook" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3_twitter">
                                            <i class="fa fa-twitter" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble" 
                                                aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img
                                src="{{ asset('bundles/app/images/8.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Emma Stone</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="w3_twitter">
                                            <i class="fa fa-twitter" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3l_google">
                                            <i class="fa fa-google-plus" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble" 
                                                aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img
                                src="{{ asset('bundles/app/images/10.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Jorge Nicolas</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="w3l_google">
                                            <i class="fa fa-google-plus" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="agileits_facebook">
                                            <i class="fa fa-facebook" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                    <li class="slide">
                        <div class="col-md-3 wthree_team_grid">
                            <img 
                                src="{{ asset('bundles/app/images/7.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Olivia Wilde</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="agileits_facebook">
                                            <i class="fa fa-facebook" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3l_google">
                                            <i class="fa fa-google-plus" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img
                                src="{{ asset('bundles/app/images/9.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Brett Cullen</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="agileits_facebook">
                                            <i class="fa fa-facebook" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3_twitter">
                                            <i class="fa fa-twitter" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble"
                                               aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img
                                src="{{ asset('bundles/app/images/8.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Emma Stone</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="w3_twitter">
                                            <i class="fa fa-twitter" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3l_google">
                                            <i class="fa fa-google-plus" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 wthree_team_grid">
                            <img
                                src="{{ asset('bundles/app/images/10.jpg') }}"
                                alt=" "
                                class="img-responsive" />
                            <div class="wthree_team_grid_w3">
                                <h4>Jorge Nicolas</h4>
                                <p>Teacher</p>
                                <div class="wthree_team_grid_w3_pos">
                                    <ul class="agileinfo_social_icons">
                                        <li><a href="#" class="w3l_google">
                                            <i class="fa fa-google-plus" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="w3ls_dribble">
                                            <i class="fa fa-dribbble" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                        <li><a href="#" class="agileits_facebook">
                                            <i class="fa fa-facebook" 
                                               aria-hidden="true"></i>
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- team-slider -->
{% block javascripts %}
    <script 
        type="text/javascript" 
        src="{{ asset('bundles/app/js/jquery.glide.js') }}" >
    </script>
    <script type="text/javascript">
    var glide = $('.w3_slider').glide().data('api_glide');

    $(window).on('keyup', function (key) {
        if (key.keyCode === 13) {
                glide.jump(3, console.log('Wooo!'));
        };
    });
    </script>
{% endblock %}
<!-- //team-slider -->