<!-- events -->
{% if evenements|length >0 %}
<div id="events" class="events">
    <div class="container">
        <h3 class="w3_agileits_head">Nos futures 
            <span class="w3_child">E</span>
            <span class="w3_child1">v</span>
            <span class="w3_child2">è</span>
            <span class="w3_child4">n</span>
            <span class="w3_child">e</span>
            <span class="w3_child1">m</span>
            <span class="w3_child4">e</span>
            <span class="w3_child2">n</span>
            <span class="w3_child">t</span>
            <span class="w3_child1">s</span>
        </h3>
        <p class="w3_agile_elit"></p>
        <div class="agile_banner_bottom_grids">
            {% set class = 'agile_events_grid_pos' %}
            {% for evenement in evenements %}
                <div class="agile_events_grid">
                    <img
                        src="{{ asset(evenement.image) }}"
                        alt=" "
                        class="img-responsive evenement-img" /> 
                    <div class="{{ class }} agile_events_grid_pos1">
                        <h5>
                            <span>{{ evenement.date|date('d') }}</span> 
                            {{ evenement.date|date('m-Y') }}
                        </h5>
                        <h4><a href="#" data-toggle="modal" data-target="#modal-{{evenement.id}}">
                            {{ evenement.titre }}</a></h4>
                        <p></p>
                    </div>
                </div>
                {% if class is same as('agile_events_grid_pos') %}
                    {% set class = 'agile_events_grid_pos_sub' %}
                {% else %}
                    {% set class = 'agile_events_grid_pos' %}
                {% endif %}
                <br/>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
<!-- //events -->