<head>
    <title>Site de la Balancelle</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="crèche balancelle moirans" />
    <script type="application/x-javascript"> addEventListener(
        "load", 
        function() { setTimeout(hideURLbar, 0); }, 
        false);
        function hideURLbar(){ window.scrollTo(0,1); } 
    </script>
    <!-- //custom-theme -->
    {% block stylesheets %}
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/bootstrap.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/style.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/easy-responsive-tabs.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/jquery.gallery.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/popuo-box.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <!-- font-awesome-icons -->
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/font-awesome.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <!-- //font-awesome-icons -->
        <!-- accordion -->
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/menu.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <!-- //menu -->        
        <!-- css pour google map -->
        <link 
            href="//fonts.googleapis.com/css?family=Handlee" 
            rel="stylesheet"/>
        <link 
            href='//fonts.googleapis.com/css?family=Open+Sans:400,300,
                300italic,400italic,600,600italic,700,700italic,800,800italic' 
            rel='stylesheet' 
            type='text/css'/>
        <!-- css pour google map -->

    {% endblock %}
    {% block javascripts %}
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/jquery-2.1.4.min.js') }}" >
        </script>
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/jquery.vide.min.js') }}" >
        </script>
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/jquery.magnific-popup.js') }}" >
        </script>
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/classie.js') }}" >
        </script>
        <!-- for bootstrap working -->
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/bootstrap.min.js') }}" >
        </script>
        <!-- //for bootstrap working -->
        <!-- responsive-tabs -->
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/easy-responsive-tabs.js') }}" >
        </script>
        <script>
            $(document).ready(function () {
                $('#verticalTab').easyResponsiveTabs({
                    type: 'vertical',
                    width: 'auto',
                    fit: true
                });
            });
        </script>
        <!-- //responsive-tabs -->
        <!-- text-effect -->
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/jquery.transit.js') }}" >
        </script>
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/jquery.textFx.js') }}" >
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.test2').textFx({
                        type: 'slideIn',
                        direction: 'right',
                        iChar: 250,
                        iAnim: 1000
                });
            });
        </script>
        <!-- //text-effect -->
        <!-- start-smoth-scrolling -->
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/move-top.js') }}" >
        </script>
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/easing.js') }}" >
        </script>
        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $(".scroll").click(function(event){		
                    event.preventDefault();
                    $('html,body').animate(
                        {scrollTop:$(this.hash).offset().top},
                        1000
                    );
                });
            });
        </script>
        <!-- start-smoth-scrolling -->
        <!-- here stars scrolling icon -->
        <script type="text/javascript">
            $(document).ready(function() {
                /*
                var defaults = {
                    containerID: 'toTop', // fading element id
                    containerHoverID: 'toTopHover', // fading element hover id
                    scrollSpeed: 1200,
                    easingType: 'linear' 
                };
                */
                $().UItoTop({ easingType: 'easeOutQuart' });

            });
        </script>
        <!-- //here ends scrolling icon -->
        <!-- menu -->
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/menu.js') }}" >
        </script>
        <!-- fin menu -->
    {% endblock %}
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" 
            href="{{ asset('bundles/app/images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60"
            href="{{ asset('bundles/app/images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114"
            href="{{ asset('bundles/app/images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120"
            href="{{ asset('bundles/app/images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144"
            href="{{ asset('bundles/app/images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152"
            href="{{ asset('bundles/app/images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180"
            href="{{ asset('bundles/app/images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{ asset('bundles/app/images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32"
            href="{{ asset('bundles/app/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
            href="{{ asset('bundles/app/images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
            href="{{ asset('bundles/app/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" 
            href="{{ asset('bundles/app/images/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" 
            content="{{ asset('bundles/app/images/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}   
</head>

