{% for evenement in evenements %}
<div 
    class="modal video-modal fade" 
    id="modal-{{evenement.id}}" 
    tabindex="-1" 
    role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {{ evenement.date|date('d/m/Y') }} - {{ evenement.heure }} - {{ evenement.lieu }}
                <button 
                    type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>						
            </div>
            <section>
                <div class="modal-body">
                    <div >
                        <img src="{{asset(evenement.image)}}" 
                             alt=" " 
                             class="img-responsive w3_modal_body_center" />
                    </div>
                    <div class="w3_modal_body_right">
                        <h4>{{ evenement.titre }}</h4>
                        {{ evenement.information | raw }}
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endfor %}
