{% extends '@Balancelle/Default/layout.html.twig' %}

{% block body %}
    {% set action = app.request.attributes.get("_route") %}
    {{ parent() }}
    <div class="main-content-inner">
        <div class="col-xl-12 col-lg-12 col-md-12 col-ml-12 mt-5">
            <div class="card" style="background-color: #bbbbbb">
                <div class="card-body" >
                    <h4 class="header-title">Information de l'utilisateur</h4>
                    {{ form_start(form) }}
                    <div class="form-row align-items-center" >
                        <div class="form-group col-xl-1 col-lg-1 col-md-2 col-sm-12 my-1">
                            <label for="civilite">Civilité</label>
                            <select id="input_sex" class="form-control">
                                <option value="Mr.">Mr.</option>
                                <option value="Mme.">Mme.</option>
                            </select>
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-5 col-sm-12 my-1">
                            <label for="prenom">Prenom</label>
                            {{ form_widget(form.prenom, {'attr': {'class': 'form-control',
                                'placeholder': "prénom"}}) }}
                        </div>
                        <div class="form-group col-xl-4 col-lg-4 col-md-5 col-sm-12 my-1">
                            <label for="nom">Nom</label>
                            {{ form_widget(form.nom, {'attr': {'class': 'form-control',
                                'placeholder': "nom"}}) }}
                        </div>
                        <div class="form-group col-xl-3 col-lg-3 col-md-21 col-sm-12 my-1 mt-4">
                            {{ form_widget(form.birthday, {'attr': {
                                'placeholder': "date de naissance"}}) }}
                        </div>
                    </div>
                    <div class="form-row align-items-center">
                        <div class="form-group col-xl-6 col-lg-6 col-md-6 col-sm-12 my-1">
                            <label for="email">Email</label>
                            {{ form_widget(form.email, {'attr': {'class': 'form-control',
                                'placeholder': "email"}}) }}
                        </div>
                        <div class="form-group col-xl-1 col-lg-1 col-md-2 col-sm-1 my-1">
                            <label for="compteActif">Compte actif</label>
                            {{ form_widget(form.enabled, {'attr': {'class': 'form-control',
                                'placeholder': "actif"}}) }}<label></label>
                        </div>
                    </div>
                </div>
            </div></br>
            <div class="card" style="background-color: #bbbbbb">
                <div class="card-body" >
                    <h4 class="header-title">Rôles de l'utilisateur</h4>
                        <div class="form-row align-items-center">
                            <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                                <label for="email">Role administrateur</label>
                                {{ form_widget(
                                    form.roleAdmin,
                                    {'attr': {'class': 'form-control','placeholder': "rôle administrateur"}}
                                ) }}
                            </div>
                            <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                                <label for="email">Role professionnel</label>
                                {{ form_widget(
                                    form.rolePro,
                                    {'attr': {'class': 'form-control','placeholder': "rôle professionnel"}}
                                ) }}
                            </div>
                            <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                                <label for="email">Role parent</label>
                                {{ form_widget(
                                    form.roleParent,
                                    {'attr': {'class': 'form-control','placeholder': "rôle parent"}}
                                ) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="card">
            <div class="card-body" >
                <div class="form-row align-items-center">
                    <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                        {{ form_widget(form) }}
                        {% if 'new' in action %}
                            <input type="submit" value="créer" class="btn btn-rounded btn-success mb-3"/>
                        {% endif %}
                        {% if 'edit' in action %}
                            <input type="submit" value="enregister" class="btn btn-rounded btn-success mb-3"/>
                        {% endif %}
                        {{ form_end(form) }}
                    </div>
                    <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                        {{ form_start(delete_form) }}
                        <input type="submit" value="supprimer" class="btn btn-rounded btn-danger mb-3"/>
                        {{ form_end(delete_form) }}
                    </div>
                    <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                        {% if familleUtilisateur is defined and familleUtilisateur is not null %}
                            <div class="form-group col-xl-2 col-lg-2 col-md-2 col-sm-1 my-1">
                                <a href="{{ path('famille_edit', {'id': familleUtilisateur.id }) }}" class="btn btn-flat btn-primary mb-3">Voir la famille</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var userId = "{{  user.id }}";
        var pathVerifierMailUser = "{{ path('user_verifier_mail') }}";
    </script>
{% endblock %}