<!-- formulaire commun à la création et modification d'un utilisateur -->
{{ form_start(form) }}
<div class="card person-card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-2">
                <select id="input_sex" class="form-control">
                    <option value="Mr.">Mr.</option>
                    <option value="Mme.">Mme.</option>
                </select>
            </div>
            <div class="form-group col-md-1">
                Prénom:
            </div>
            <div class="form-group col-md-4">
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control',
                    'placeholder': "prénom"}}) }}
            </div>
            <div class="form-group col-md-1">
                Nom:
            </div>
            <div class="form-group col-md-4">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control',
                    'placeholder': "nom"}}) }}
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-1">
                Email:
            </div>
            <div class="form-group col-md-4">
                {{ form_widget(form.email, {'attr': {'class': 'form-control',
                    'placeholder': "email"}}) }}
            </div>
            <div class="form-group col-md-3">
                Date de naissance:
            </div>
            <div class="form-group col-md-4">
                {{ form_widget(form.birthday, {'attr': {
                    'placeholder': "date de naissance"}}) }}
            </div>
        </div> 
        <div class="row">
            <div class="form-group col-md-2 checkbox-intitule">
                Administrateur:
            </div>
            <div class="col-md-1 checkbox checkbox-primary">
                {{ form_widget(
                    form.roleAdmin,
                    {'attr': {'placeholder': "rôle administrateur"}}
                ) }}
                <label></label>
            </div>
            <div class="form-group col-md-2 checkbox-intitule">
                Professionnel:
            </div>
            <div class="col-md-1 checkbox checkbox-primary">
                {{ form_widget(
                    form.rolePro,
                    {'attr': {'placeholder': "rôle professionnel"}}
                ) }}<label></label>
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-2 checkbox-intitule">
                Compte actif:
            </div>
            <div class="form-group col-md-1 checkbox checkbox-danger">
                {{ form_widget(form.enabled, {'attr': {'class': 'form-control',
                    'placeholder': "actif"}}) }}<label></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2 checkbox-intitule">
                Parent:
            </div>
            <div class="col-md-1 checkbox checkbox-success">
                {{ form_widget(
                    form.roleParent,
                    {'attr': {'placeholder': "rôle parent"}}
                ) }}<label></label>
            </div>
        </div>
        <div class="row" id="listeEnfants" style="display: none;">
            <div class="col-md-12">
                <table id="listeUtilisateur" class="row-border stripe">
                    <thead>
                        <tr>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Date de Naissance</th>
                            <th>Parenté</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enfant in enfants %}
                            <tr>
                                <td>{{ enfant.prenom }}</td>
                                <td>{{ enfant.nom }}</td>
                                <td>{{ enfant.naissance|date("d/m/Y") }}</td>
                                <td>
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-2">
                {{ form_widget(form) }}
                <input type="submit" value="Editer" />
                {{ form_end(form) }}
            </div>
            <div class="form-group col-md-2">
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="text-center pad-top">
                        <a href="{{ path('enfant_new') }}" >
                            <i class="fa fa-user-plus fa-5x"></i>
                        </a>
                    </div>
                {% endif %}
                {# form_start(delete_form) }}
                <input type="submit" value="Supprimer">
                {{ form_end(delete_form) #}
            </div>
            <div class="form-group col-md-4">
            </div>
        </div>
    </div>
</div>