<!-- formulaire commun à la création et modification d'un utilisateur -->

<div class="card person-card">
    <div class="card-body">
        <div class="row">
            <div class="form-group col-md-2">

            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-1">
                Email:
            </div>
            <div class="form-group col-md-4">
                {{ form_widget(form.email, {'attr': {'class': 'form-control',
                    'placeholder': "email"}}) }}
            </div>
            <div class="form-group col-md-3">
                Date de naissance:
            </div>

        </div> 
        <div class="row">
            <div class="form-group col-md-2 checkbox-intitule">
                Administrateur:
            </div>
            <div class="col-md-1 checkbox checkbox-primary">
                {{ form_widget(
                    form.roleAdmin,
                    {'attr': {'placeholder': "rôle administrateur"}}
                ) }}
                <label></label>
            </div>
            <div class="form-group col-md-2 checkbox-intitule">
                Professionnel:
            </div>
            <div class="col-md-1 checkbox checkbox-primary">
                {{ form_widget(
                    form.rolePro,
                    {'attr': {'placeholder': "rôle professionnel"}}
                ) }}<label></label>
            </div>
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-2 checkbox-intitule">
                Compte actif:
            </div>
            <div class="form-group col-md-1 checkbox checkbox-danger">
                {{ form_widget(form.enabled, {'attr': {'class': 'form-control',
                    'placeholder': "actif"}}) }}<label></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-2 checkbox-intitule">
                Parent:
            </div>
            <div class="col-md-1 checkbox checkbox-success">
                {{ form_widget(
                    form.roleParent,
                    {'attr': {'placeholder': "rôle parent"}}
                ) }}<label></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-2">
                {{ form_widget(form) }}
                    {% if 'new' in action %}
                        <input type="submit" value="créer" />
                    {% endif %}
                    {% if 'edit' in action %}
                        <input type="submit" value="enregister" />
                    {% endif %}
                {{ form_end(form) }}
            </div>
            <div class="form-group col-md-2">

            </div>
            <div class="form-group col-md-4">
            </div>
        </div>
    </div>
</div>
