{% extends '@Balancelle/User/user_layout.html.twig' %}

{% block body %}
    {{ parent() }}
        <h2>Liste des utilisateurs</h2>
        <table id="listeUtilisateur" class="row-border stripe">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Date de Naissance</th>
                    <th>Actif</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                    <td><a href="{{ path('user_edit', { 'id': user.id }) }}">{{ user.email }}</a></td>
                    <td>{{ user.birthday|date('d/m/Y') }}</td>
                    <td>
                        {% if user.enabled %}
                            <img src="{{asset('bundles/balancelle/images/on.png')}}" alt="actif" />
                        {%  else %}
                            <img src="{{asset('bundles/balancelle/images/off.png')}}" alt="inactif" />
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

  
