<head>
    <title>Intranet du site de la Balancelle</title>
    <!-- custom-theme -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="crèche balancelle moirans" />

    {% block stylesheets %}
        <!-- //Template SRTdash admin dashboard -->
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/bootstrap.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/font-awesome.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/themify-icons.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/metisMenu.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/owl.carousel.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/slicknav.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/export.css') }}"
            type="text/css"
            media="all"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/jquery.dataTables.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/jquery/jquery-confirm.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/dataTables.bootstrap4.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/responsive.bootstrap.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/responsive.jqueryui.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/typography.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/default-css.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/styles.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/responsive.css') }}"
            type="text/css"
            media="screen"
        />

        <!-- //Balancelle -->
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/calendrier.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/progessBarPermanence.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/bootstrap-datepicker.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/balancelle.css') }}"
            type="text/css"
            media="screen"
        />
        <!--link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/bbcode.default.min.css') }}"
            type="text/css"
            media="screen"
        /-->>
    {% endblock %}
    {% block javascripts %}

      <!-- CUSTOM SCRIPTS -->
    {% endblock %}
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" 
            href="{{ asset('bundles/app/images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60"
            href="{{ asset('bundles/app/images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114"
            href="{{ asset('bundles/app/images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120"
            href="{{ asset('bundles/app/images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144"
            href="{{ asset('bundles/app/images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152"
            href="{{ asset('bundles/app/images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180"
            href="{{ asset('bundles/app/images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{ asset('bundles/app/images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32"
            href="{{ asset('bundles/app/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
            href="{{ asset('bundles/app/images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
            href="{{ asset('bundles/app/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" 
            href="{{ asset('bundles/app/images/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" 
            content="{{ asset('bundles/app/images/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}   
</head>

