<head>
    <title>Intranet du site de la Balancelle</title>
    <!-- custom-theme -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="crèche balancelle moirans" />

    {% block stylesheets %}
        <!-- //Template SRTdash admin dashboard -->
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/bootstrap.min.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/font-awesome.min.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/themify-icons.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/metisMenu.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/owl.carousel.min.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/slicknav.min.css') }}"
                type="text/css"
                media="screen"
        />
        <!-- amchart css -->
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/export.css') }}"
                type="text/css"
                media="all"
        />
        <!-- other css -->
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/typography.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/default-css.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/styles.css') }}"
                type="text/css"
                media="screen"
        />
        <link
                rel="stylesheet"
                href="{{ asset('bundles/balancelle/css/responsive.css') }}"
                type="text/css"
                media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/jquery/jquery-ui.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/jquery.dataTables.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/jquery/jquery-confirm.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/dataTables.bootstrap4.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/responsive.bootstrap.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/responsive.jqueryui.min.css') }}"
            type="text/css"
            media="screen"
        />

        <!-- //Balancelle -->
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/progessBarPermanence.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/bootstrap-datepicker.min.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/balancelle.css') }}"
            type="text/css"
            media="screen"
        />
        <link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/switch.css') }}"
            type="text/css"
            media="screen"
        />
        <!--link
            rel="stylesheet"
            href="{{ asset('bundles/balancelle/css/bbcode.default.min.css') }}"
            type="text/css"
            media="screen"
        /-->
    {% endblock %}
    {% block javascripts %}
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/popper.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery-2.2.4.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery-ui.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery.dataTables.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery.dataTables.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery-confirm.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery.slimscroll.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery.slicknav.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/bootstrap.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/responsive.bootstrap.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/bootstrap-datepicker.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/dataTables.bootstrap4.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/dataTables.responsive.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/modernizr-2.8.3.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/owl.carousel.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/metisMenu.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/plugins.js') }}" >
        </script>
        <!-- start chart js -->
        <!--script
                type="text/javascript"
                src="{# asset('bundles/balancelle/js/chart/Chart.min.js') }}">
        </script-->
        <!-- start highcharts js -->
        <!--script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/highcharts.js') }}">
        </script-->
        <!-- start zingchart js -->
        <!--script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/zingchart.min.js') }}">
        </script-->
        <!--script>
            zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
            ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
        </script-->
        <!-- start amchart js -->
        <!--script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/amcharts.js') }}">
        </script-->
        <!--script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/pie.js') }}">
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/serial.js') }}">
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/animate.min.js') }}">
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/export.min.js') }}">
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/light.js') }}">
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/bar-chart.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/line-chart.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/chart/pie-chart.js') #}" >
        </script-->
        <!-- calendar -->
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/calendar/core-main.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/calendar/interaction-main.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/calendar/daygrid-main.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/calendar/timegrid-main.min.js') }}" >
        </script>
      <!-- CUSTOM SCRIPTS -->
    {% endblock %}
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" 
            href="{{ asset('bundles/app/images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60"
            href="{{ asset('bundles/app/images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114"
            href="{{ asset('bundles/app/images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120"
            href="{{ asset('bundles/app/images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144"
            href="{{ asset('bundles/app/images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152"
            href="{{ asset('bundles/app/images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180"
            href="{{ asset('bundles/app/images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{ asset('bundles/app/images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32"
            href="{{ asset('bundles/app/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
            href="{{ asset('bundles/app/images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
            href="{{ asset('bundles/app/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" 
            href="{{ asset('bundles/app/images/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" 
            content="{{ asset('bundles/app/images/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}   
</head>

