<head>
    <title>Administration du site de la Balancelle</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="crèche balancelle moirans" />

    <!-- //custom-theme -->
    {% block stylesheets %}
        <link
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/bootstrap.min.css') }}"
            type="text/css" 
            media="screen" 
        />
        <link
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/bootstrap-theme.min.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/awesome-bootstrap-checkbox.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link
            rel="stylesheet" 
            href="{{ asset('bundles/balancelle/css/custom.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/app/css/font-awesome.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <!-- //font-awesome-icons -->
        <link 
            href='http://fonts.googleapis.com/css?family=Open+Sans' 
            rel='stylesheet' 
            type='text/css' 
        />
        <!-- //dataTable -->
        <link 
            rel="stylesheet" 
            href="{{ asset('bundles/balancelle/css/dataTables.min.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <!-- //jquery ui -->
        <link
            rel="stylesheet" 
            href="{{ asset('bundles/balancelle/css/jquery-ui.min.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link
            rel="stylesheet" 
            href="{{ asset('bundles/balancelle/css/jquery-ui.structure.min.css') }}" 
            type="text/css" 
            media="screen" 
        />
        <link
            rel="stylesheet" 
            href="{{ asset('bundles/balancelle/css/jquery-ui.theme.min.css') }}" 
            type="text/css" 
            media="screen" 
        />

    {% endblock %}
    {% block javascripts %}
        <!-- //jquery -->
        <script
                type="text/javascript"
                src="{{ asset('bundles/app/js/jquery-2.1.4.min.js') }}" >
        </script>
        <script
                type="text/javascript"
                src="{{ asset('bundles/balancelle/js/jquery-ui.min.js') }}" >
        </script>
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/app/js/bootstrap.min.js') }}" >
        </script>
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/balancelle/js/custom.js') }}" >
        </script>
        <!-- //dataTable -->
        <script 
            type="text/javascript" 
            src="{{ asset('bundles/balancelle/js/dataTables.min.js') }}" >
        </script>

      <!-- CUSTOM SCRIPTS -->
    {% endblock %}
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="57x57" 
            href="{{ asset('bundles/app/images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60"
            href="{{ asset('bundles/app/images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76"
            href="{{ asset('bundles/app/images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="114x114"
            href="{{ asset('bundles/app/images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120"
            href="{{ asset('bundles/app/images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144"
            href="{{ asset('bundles/app/images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152"
            href="{{ asset('bundles/app/images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180"
            href="{{ asset('bundles/app/images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192"
            href="{{ asset('bundles/app/images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32"
            href="{{ asset('bundles/app/images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96"
            href="{{ asset('bundles/app/images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16"
            href="{{ asset('bundles/app/images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" 
            href="{{ asset('bundles/app/images/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" 
            content="{{ asset('bundles/app/images/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}   
</head>

