{% extends '@Balancelle/Default/layout.html.twig' %}
{% block title %}AppBundle:Admin:index{% endblock %}
{% block body %}
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-lg-12">
             <h2>INTRANET LA BALANCELLE</h2>   
            </div>
        </div>              
         <!-- /. ROW  -->
          <hr />
        <div class="row">
            <div class="col-lg-12 ">
                <div class="alert alert-info">
                     <strong>Bienvenue {{ app.user.Prenom }} {{ app.user.Nom }}</strong>
                </div>
            </div>
        </div>
         
        {% if is_granted('ROLE_ADMIN') %}
        <!-- /. ROW  ADMIN -->
        <div class="row text-center pad-top">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="{{ path('balancelle_admin_evenements_liste') }}" >
                        <i class="fa fa-calendar fa-5x"></i>
                        <h4>Evènements</h4>
                    </a>
                </div>
            </div> 

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="{{ path('balancelle_admin_revuepresse_liste') }}" >
                        <i class="fa fa-file-text-o fa-5x"></i>
                        <h4>Revue de presse</h4>
                    </a>
                </div>
            </div> 
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="{{ path('user_index') }}" >
                        <i class="fa fa-users fa-5x"></i>
                        <h4>Utilisateurs</h4>
                    </a>
                </div>
            </div>
            <!--div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-users fa-5x"></i>
                        <h4>See Users</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-key fa-5x"></i>
                        <h4>Admin </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-comments-o fa-5x"></i>
                        <h4>Support</h4>
                    </a>
                </div>
            </div-->
        </div>
        
        {% endif %}
        
        {% if is_granted('ROLE_ADMIN') %}
            <!-- /. ROW  USER -->
        <!--div class="row text-center pad-top">

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-clipboard fa-5x"></i>
                        <h4>All Docs</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-gear fa-5x"></i>
                        <h4>Settings</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-wechat fa-5x"></i>
                        <h4>Live Talk</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-bell-o fa-5x"></i>
                        <h4>Notifications </h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-rocket fa-5x"></i>
                        <h4>Launch</h4>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                <div class="div-square">
                    <a href="blank.html" >
                        <i class="fa fa-user fa-5x"></i>
                        <h4>Register User</h4>
                    </a>
                </div>
            </div> 
        </div-->  
        {% endif %}
    </div>
</div>
{% endblock %}