<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="{{ path('balancelle_homepage') }}">
                <img
                    src="{{asset('bundles/app/images/logos/balancelle.jpeg')}}"
                    width="48px"
                    heigth="48px" alt="logo">
            </a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">

                    {% if app.session.get('menus') is defined %}
                        {% for menu in app.session.get('menus') %}
                            {% if menu.getType == 'menu' %}
                            <li >
                                <a
                                    href="{{ path(menu.path) }}"
                                        aria-expanded="true">
                                    <i class="{{ menu.icon }}"></i>
                                    <span>{{ menu.libelle }}</span>
                                </a>
                            </li>
                            {% else %}
                                <li>
                                    <a href="javascript:void(0)" aria-expanded="true">
                                        <i class="{{ menu.icon }}"></i>
                                        <span>{{ menu.libelle }}</span></a>
                                    <ul class="collapse">
                                        {% for menuOuvrant in menu.getMenus %}
                                            <li class="active">
                                                <a
                                                    href="{{ path(
                                                        menuOuvrant.path,
                                                        menuOuvrant.parametre
                                                    ) }}"
                                                    aria-expanded="true">
                                                    <i class="{{ menuOuvrant.icon }}"></i>
                                                    <span>{{ menuOuvrant.libelle }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->