<!-- sidebar menu area start -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="{{ path('balancelle_homepage') }}">
                <img
                    src="{{asset('bundles/app/images/logos/balancelle.jpeg')}}"
                    width="48px"
                    heigth="48px" alt="logo">
            </a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    {% if famille is defined and famille != null%}
                        <li class="active">
                            <a
                                href="{{ path('famille_tableauDeBord') }}"
                                aria-expanded="true">
                                <i class="ti-home"></i>
                                <span>Ma Famille</span>
                            </a>
                        </li>
                        <li >
                            <a
                                href="{{ path('permanence_index') }}"
                                aria-expanded="true">
                                <i class="ti-home"></i>
                                <span>Permanence</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="active">
                            <a
                                href="{{ path('user_index') }}"
                                aria-expanded="true">
                                <i class="fa fa-user"></i>
                                <span>Utilisateurs</span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ path('famille_index') }}"
                                aria-expanded="true">
                                <i class="fa fa-group"></i>
                                <span>Familles</span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ path('structure_index') }}"
                                aria-expanded="true">
                                <i class="fa fa-sitemap"></i>
                                <span>Structures</span>
                            </a>
                        </li>
                        <li>
                            <a
                                href="{{ path('calendrier_index') }}"
                                aria-expanded="true">
                                <i class="fa fa-calendar-check-o"></i>
                                <span>Calendriers</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- sidebar menu area end -->